div {
    background:#fcf8b3;
    border:1px solid #aaa;
    margin:10px;
    padding:10px;
    width:330px;
}

div:hover {
    cursor:pointer;
}

.first {
    transition:transform 0.2s ease-in-out;
}

.first:hover {
    transform:scale(1.2) rotate(-15deg) skew(-5deg, 30deg);
}

.second {
    margin: 150px 0 0 150px;

    transform:rotate(-45deg);
}

.second:hover {
    transform-origin: 0 0;
}


